# Pipeline

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
# URL of the compressed CSV file
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

# Read the compressed CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
print(df.head())

/tmp/ipykernel_47932/711857663.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0       1.0  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1       1.0  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2       1.0  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3       1.0  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4       2.0  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10         1.0                  N           142            43
1           0.20         1.0                  N           238           151
2          14.70         1.0                  N           132           165
3          10.60         1.0                  N           138           132
4           4.94         1.0                  N            68            33

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0           2.0          8.0    3.0      0.5        0.00           0.0
1           2.0          3.0    0.5      0.5        0.00           0.0
2           1.0         42.0    0.5      0.5        8.65           0.0
3           1.0         29.0    0.5      0.5        6.05           0.0
4           1.0         16.5    0.5      0.5        4.06           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.80                   2.5
1                    0.3          4.30                   0.0
2                    0.3         51.95                   0.0
3                    0.3         36.35                   0.0
4                    0.3         24.36                   2.5

In [18]:
df.count()

VendorID                 1271413
tpep_pickup_datetime     1369765
tpep_dropoff_datetime    1369765
passenger_count          1271413
trip_distance            1369765
RatecodeID               1271413
store_and_fwd_flag       1271413
PULocationID             1369765
DOLocationID             1369765
payment_type             1271413
fare_amount              1369765
extra                    1369765
mta_tax                  1369765
tip_amount               1369765
tolls_amount             1369765
improvement_surcharge    1369765
total_amount             1369765
congestion_surcharge     1369765
dtype: int64

In [8]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [15]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
engine.connect()

In [17]:
print(pd.io.sql.get_schema(df, name='yelow_taxi_data', con=engine))

CREATE TABLE yelow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

# Interator

In [19]:
df_iter = pd.read_csv(url, iterator=True, chunksize=100000)
df = next(df_iter)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [21]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.47 s, sys: 40.9 ms, total: 5.51 s
Wall time: 8.24 s

1000

In [25]:
from time import time

In [26]:
while True:
    t_start=time()
    df = next(df_iter)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end=time()
    
    print('inseted another chunk...too %.3f' % (t_end - t_start))

inseted another chunk...too 7.773
inseted another chunk...too 7.995
inseted another chunk...too 8.288
inseted another chunk...too 8.254
inseted another chunk...too 8.044
inseted another chunk...too 8.173
inseted another chunk...too 8.788
inseted another chunk...too 8.383
inseted another chunk...too 7.961
inseted another chunk...too 8.078
inseted another chunk...too 8.502

/tmp/ipykernel_47932/3629240694.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inseted another chunk...too 9.651
inseted another chunk...too 6.042

StopIteration:

# Ingestion

In [32]:
zone_url =  'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [33]:
df_zone = pd.read_csv(zone_url)
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [35]:
df_zone.to_sql(name='zones', con=engine, if_exists='replace')

265